/****** Object:  Table [dbo].[LinkEgresados]    Script Date: 01/10/2023 03:53:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkEgresados](
	[Link] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Link] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
