<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Dropdown</title>
</head>
<body>

    <h1>Formulario con Dropdown</h1>

    <form action="/procesar_formulario" method="post">
        <!-- Menú desplegable -->
        <label for="opciones">Selecciona una opción:</label>
        <select id="opciones" name="opciones">
            <option value="opcion1">Opción 1</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 3</option>
        </select>

        <br>

        <button type="submit">Enviar</button>
    </form>

    <script src="Scripts/script_resultados.js" type="module"></script>

</body>
</html>
